.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.sidebar__element {
  max-width: 550px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 5px;
}
.sidebar-element-wrapper {
  display: flex;
  flex-direction: column;
}
.sidebar-element-wrapper_media {
}
.media-element__photo-wrapper {
  max-width: 250px;
  padding: 15px;
  background-color: #e4e4e4;
  border-radius: 50px;
  width: 100%;
}
.media-element__photo {
  width: 100%;
  border-radius: 50px;
}
.media-element__name {
  margin-right: 25px;
  text-align: center;
  margin-left: 25px;
  border-radius: 20px;
  border-bottom: black solid 2px;
}
.personal-info__header {
  text-align: center;
}
.personal-info-bio {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.personal-info-bio__element {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(193, 193, 201);
  border-radius: 20px;
}
.personal-link {
  display: flex;
  align-items: center;
}
